# Xcode
.DS_Store
.Trashes
build/
prebuilt/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
xcuserdata
*.moved-aside
DerivedData
*/Package.resolved
.idea/
*~.nib
*.swp
Pods/
# Pods - for those of you who use CocoaPods
#Pods
.bundle
vendor
fastlane/test_output
fastlane/report.xml
fastlane/.env

.mocky*
MockingbirdSupport
MockingbirdCache
*-mocks.generated.swift
*mockingbird*

templates.bundle
__MACOSX/._templates.bundle

*project.json
